node {
	shape: box;
	size: 15px, 20px;
	fill-mode: plain;   /* Default.          */
	fill-color: red;    /* Default is black. */
	stroke-mode: plain; /* Default is none.  */
	stroke-color: blue; /* Default is black. */
}